# Quetion : 1

read_csv() function: This function is used to read CSV files and return a DataFrame object.

groupby() function: This function is used to group data based on one or more columns, and then perform calculations on the grouped data.

fillna() function: This function is used to fill missing values in a DataFrame with a specified value or method.

merge() function: This function is used to merge two DataFrames into a single DataFrame based on a common column.

pivot_table() function: This function is used to create a pivot table from a DataFrame.

# Quetion : 2

In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({'A':[1,2,3,4],'B':[5,6,7,8],'C':[9,10,11,12]})
new_index=pd.RangeIndex(start=1, step=2, stop=len(df)*2+1)
df1=df.reindex(new_index)
print(df)
print("reindexed")
print(df1)

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12
reindexed
     A    B     C
1  2.0  6.0  10.0
3  4.0  8.0  12.0
5  NaN  NaN   NaN
7  NaN  NaN   NaN

# Quetion : 3

In [3]:
def sum_first_three(df):
    total = 0
    for i in range(3):
        total += df.loc[i, 'Values']
    print(f"The sum of the first three values in the 'Values' column is: {total}")
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
sum_first_three(df)

The sum of the first three values in the 'Values' column is: 60

# Quetion : 4

In [4]:
def add_word_count(df):
    df['word_count'] = df['Text'].apply(lambda x : len(str(x).split()))
    return df
df = pd.DataFrame({'Text': ['This is a sample text in table', 'This is another sample text']})
df_with_word_count = add_word_count(df)
print(df_with_word_count)

                             Text  word_count
0  This is a sample text in table           7
1     This is another sample text           5

# Queton : 5

The DataFrame.size() method returns the total number of elements in the DataFrame, i.e., the product of the number of rows and the number of columns. It returns a single integer value.

On the other hand, the DataFrame.shape() method returns a tuple that contains the number of rows and the number of columns of the DataFrame, respectively. It returns a tuple of integers.

# Quetion : 6

The function in pandas that we use to read an Excel file is pandas.read_excel()

# Quetion : 7

In [5]:
def username(df):
    df['Username'] = df['Email'].apply(lambda x : (str(x).rsplit('@')[0])) 
    return df
df=pd.DataFrame({'Email':['krish@gmail.com','kiran@gmail.com','amit@gmail.com']}) 
username(df)

             Email Username
0  krish@gmail.com    krish
1  kiran@gmail.com    kiran
2   amit@gmail.com     amit

# Quetion ; 8

In [6]:
def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

df = pd.DataFrame({'A': [1, 2, 6, 7], 'B': [4, 5, 8, 9], 'C': ['a', 'b', 'c', 'd']})
selected_df = select_rows(df)
print(selected_df)

   A  B  C
2  6  8  c
3  7  9  d

# Quetion : 9

In [8]:
def calculate_statistics(df):
  
    mean = df['Values'].mean()
    median = df['Values'].median()
    std = df['Values'].std()

    return mean, median, std
df = pd.DataFrame({'Values': [1, 2, 3, 4, 5]})
calculate_statistics(df)


print('Mean:', mean)
print('Median:', median)
print('Standard Deviation:', std)

Mean: 3.0
Median: 3.0
Standard Deviation: 1.5811388300841898

# Quetion : 10

In [14]:
def moving_average(df):
    df=df.sort_values('Date')
    ma=df['Sales'].rolling(window=7,min_periods=1).mean()
    df['Moving Average']=ma
    return df
dates = pd.date_range('2022-01-01', periods=10)
df = pd.DataFrame({'Date': dates, 'Sales': [10, 15, 20, 18, 25, 30, 22, 27, 35, 40]})
df_ma = moving_average(df)
print(df_ma)

        Date  Sales  Moving Average
0 2022-01-01     10       10.000000
1 2022-01-02     15       12.500000
2 2022-01-03     20       15.000000
3 2022-01-04     18       15.750000
4 2022-01-05     25       17.600000
5 2022-01-06     30       19.666667
6 2022-01-07     22       20.000000
7 2022-01-08     27       22.428571
8 2022-01-09     35       25.285714
9 2022-01-10     40       28.142857

# Quetion : 11

# Quetion : 12

In [1]:
import pandas as pd

def select_rows_between_dates(df):
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    return df.loc[mask]

# Quetion : 13

When you get introduced to machine learning, the first step is to learn Python and the basic step of learning Python is to learn pandas library. We can install pandas library by pip install pandas. After installing we have to import pandas each time of the running session